# Skill verifikasi

<!-- TODO: isi bab pada tahap penerjemahan. -->
